<!DOCTYPE html>
<html lang="{{ $.Site.Language }}" class="han-la">
<head>
  {{ block "title" . }}
    <title>{{ if .IsHome }}{{ $.Site.Title }}{{ else }}{{ .Title }} :: {{ $.Site.Title }}{{ end }}</title>
  {{ end }}
  {{ partial "head.html" . }}
</head>
<body class="{{- ( or .Params.color $.Site.Params.ThemeColor ) -}}">
{{ $container := cond ($.Site.Params.FullWidthTheme | default false) "container full" (cond ($.Site.Params.CenterTheme | default false) "container center" "container") }}

<div class="{{- $container -}}{{- cond ($.Site.Params.oneHeadingSize | default true) " headings--one-size" "" }}">


  {{ partial "header.html" . }}

  <div class="content">
    {{ block "main" . }}
    {{ end }}
  </div>

  {{ block "footer" . }}
    {{ partial "footer.html" . }}
  {{ end }}

  {{ if .Params.Toc }}
  <aside class="aside-toc">
    <div class="table-of-contents">
      <h4>
        {{ if .Params.TocTitle }}
          {{ .Params.TocTitle }}
        {{ else if $.Site.Params.TocTitle }}
          {{ $.Site.Params.TocTitle }}
        {{ else }}
          Contents
        {{ end }}
      </h4>
      {{ .TableOfContents }}
    </div>
  </aside>
  {{ end }}

</div>

</body>
</html>
