aside nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
aside nav ul li {
    margin: 1em 0;
    position: relative;
}
aside nav ul a {
    display: block;
}
aside nav ul a:hover {
    opacity: 0.5;
}
aside nav ul ul {
    padding-inline-start: 16rem;
}


.aside-toc {
    flex: 0 0 16rem;
    font-size: 0.75rem;
}
.aside-toc .table-of-contents {
    width: 16rem;
    padding: 1rem;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
.aside-toc img {
    height: 1em;
    width: 1em;
}
.aside-toc nav > ul > li:first-child {
    margin-top: 0;
}

