{{ $dbUrl := . }}
{{ $dbApiUrl := "https://neodb.social/api/catalog/fetch?url=" }}
{{ $realUrl := print $dbApiUrl $dbUrl }}
{{ with try (resources.GetRemote $realUrl) }}
  {{ with .Err }}
    <p class="douban-error"><small>远程获取内容失败：{{ . }}</small></p>
  {{ else with .Value }}
    {{ $dbFetch := .Content | transform.Unmarshal }}
    {{ $itemRating := 0 }}
    {{ with $dbFetch.rating }}{{ $itemRating = . }}{{ end }}
    <div class="db-card">
      <div class="db-card-subject">
        <div class="db-card-post">
          <img
            loading="lazy"
            decoding="async"
            referrerpolicy="no-referrer"
            src="{{ $dbFetch.cover_image_url }}"
            alt="{{ $dbFetch.title }}"
          />
        </div>
        <div class="db-card-content">
          <div class="db-card-title">
            <a href="{{ $dbUrl }}" target="_blank" rel="noreferrer">
              {{ $dbFetch.title }}
            </a>
          </div>
          <div class="rating">
            <span class="allstardark">
              <span class="allstarlight" style="width: {{ mul 10 $itemRating }}%"></span>
            </span>
            <span class="rating_nums">{{ $itemRating }}</span>
          </div>
          <div class="db-card-abstract">{{ $dbFetch.brief }}</div>
        </div>
        <div class="db-card-cate">{{ $dbFetch.category }}</div>
      </div>
    </div>
  {{ else }}
    <p class="douban-error"><small>远程获取内容失败。({{ $realUrl }})</small></p>
  {{ end }}
{{ end }}
